name: CI Pipeline

on:
  push:
    branches-ignore:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run TypeScript validation
        run: |
          echo "Running TypeScript validation"
          tsc --noEmit

      - name: Lint code
        run: |
          echo "Running ESLint"
          npm run lint
